.button {
  padding: 20px 50px;
  color: #141414;
  font-family: inherit;
  font-size: 20px;
  background-color: #ffdf00;
  border: 2px solid #ffdf00;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease-in, color 0.1s ease-in, border-color 0.1s ease-in;
  &:hover,
  &:focus {
    color: #ffdf00;
    background-color: #141414;
    border-color: #ffdf00;
  }
}