.button {
  padding: 15px 40px;
  color: $color-dark-gray;
  font-family: inherit;
  font-size: 18px;
  background-color: $color-accent;
  border: 2px solid $color-accent;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s ease-in, color 0.1s ease-in, border-color 0.1s ease-in;
  &:hover,
  &:focus {
    color: $color-accent;
    background-color: transparent;
    border-color: $color-accent;
  }
}


@media (max-width: $tablet-small) {
  .button {
    padding: 15px 25px;
  }
}


@media (max-width: $mobile-large) {
  .button {
    padding: 10px 20px;
    font-size: 16px;
  }
}