.clients-slider {
  &__wrapper {

  }
  &__slide {
    width: 450px;
    margin: 0 5px;
  }
  &__image {
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    &:first-child {
      transform: translateX(-50%);
    }
  }
}