.main-nav {
  &__toggle {
    display: none;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: transparent;
    border: none;
  }
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 24px;
  }
  &__item {
    position: relative;
    &:not(:last-child) {
      margin-right: 25px;
    }
  }
  &__item--sub {
    &:hover > .main-nav__submenu,
    &:focus-within > .main-nav__submenu {
      display: block;
    }
  }
  &__link {
    display: block;
    padding-bottom: 15px;
    color: inherit;
    font-family: 'Roboto Mono', monospace;
    font-size: inherit;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 0.1s ease-in, opacity 0.1s ease-in;
    opacity: 0.7;
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
  &__link--active {
    border-color: $color-accent;
    opacity: 1;
  }
  &__link--sub {
    padding-bottom: 10px;
  }
  &__submenu {
    position: absolute;
    display: none;
    margin: -1px 0 0;
    padding: 10px 20px;
    white-space: nowrap;
    list-style: none;
    font-size: 20px;
    background-color: rgba(#000000, 0.7);
  }

}



@media (max-width: $tablet-small) {
  .main-nav {
    &__toggle {
      position: absolute;
      display: block;
      z-index: 1000;
      top: 15px;
      right: 15px;
      &:focus {
        outline: none;
      }
    }
    &__toggle-icon {
      transition: fill 0.1s ease-in, transform 0.1s ease-in;
      transform-origin: center;
    }
    &__toggle--opened .main-nav__toggle-icon {
      stroke: $color-accent;
    }
    &__toggle--opened .main-nav__toggle-icon--left {
      transform: rotate(-45deg);
    }
    &__toggle--opened .main-nav__toggle-icon--right {
      transform: rotate(45deg);
    }
    &__list {
      position: fixed;
      z-index: 999;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      padding: 15px 25px;
      background-color: $color-dark-gray;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in;
      will-change: transform;
    }
    &__list--opened {
      transform: translateX(0);
    }
    &__link {
      display: inline-block;
      margin-bottom: 10px;
      font-size: 16px;
      padding-bottom: 5px;
    }
    &__submenu {
      background-color: transparent;
    }
  }
}