.main-nav {
  &__list {
    display: flex;
    list-style: none;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }
  &__link {
    padding-bottom: 15px;
    color: inherit;
    font-family: 'Roboto Mono', monospace;
    font-size: 24px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: border-color 0.2s ease-in;
    opacity: 0.7;
  }
  &__link--active {
    border-color: #ffdf00;
    opacity: 1;
  }
}