.order {
  &__form {

  }
  &__title {
    display: block;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
  }
  &__subtitle {
    display: block;
    margin-bottom: 20px;
    font-size: 18px;
  }
  &__label {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }
  &__input,
  &__select {
    width: 100%;
    padding: 10px 14px;
    font-size: 16px;
    color: $color-dark-gray;
    background-color: $color-input;
    border: 2px solid transparent;
    box-sizing: border-box;
    transition: border-color 0.1s ease-in;
    &:focus {
      border-color: $color-accent;
      outline: none;
    }
  }
  &__policy {
    vertical-align: middle;
  }
  .button {
    padding: 10px 30px;
  }
}