.tabs {
  max-width: 100%;
  &__header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 15px;
    }
  }
  &__button {
    display: block;
    padding: 7px 15px;
    color: $color-dark-gray;
    font-family: inherit;
    font-size: 18px;
    text-decoration: none;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    transition: color 0.1s ease-in, background-color 0.1s ease-in;
    cursor: pointer;
    outline: none;
    &:hover,
    &:focus {
      background-color: lighten($color-medium-gray, 30%);
    }
  }
  &__button--active {
    color: #ffffff;
    background-color: $color-medium-gray;
    &:hover,
    &:focus {
      color: #ffffff;
      background-color: $color-medium-gray;
    }
  }
  &__content {
    display: none;
  }
  &__content--visible {
    display: block;
  }
}



@media (max-width: $mobile-large) {
  .tabs {
    &__list {
      display: block;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 0;
        text-align: center;
      }
    }
  }
}