.table-wrapper {
  overflow-x: auto;
}


.table {
  width: 100%;
  border-collapse: collapse;
  tr {
    border-bottom: 1px solid $color-light-gray;
  }
  td {
    padding: 10px 15px;
    text-align: center;
    &:first-child {
      text-align: left;
    }
  }
}