.blog {
  position: relative;
  color: #ffffff;
  background-color: $color-darkest;
  border: solid #000000;
  border-width: 2px 0 2px 0;
  &::before {
    content: '';
    position: absolute;
    left: 40%;
    right: 0;
    height: 100%;
    background-image: url('/dist/assets/image/social-media.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__text {
    position: relative;
    z-index: 5;
    max-width: 40%;
    padding: 60px 10px;
    text-align: center;
    box-sizing: border-box;
  }
  &__title {
    margin: 0 0 10px;
    font-size: 30px;
  }
  &__subtitle {
    display: block;
    margin-bottom: 30px;
    color: $color-medium-gray;
    font-size: 18px;
  }
  &__link {
    text-decoration: none;
  }
}


@media (max-width: $mobile-large) {
  .blog {
    &::before {
      left: 0;
    }
    &__text {
      max-width: 100%;
    }
  }
}