.clients {
  background-color: $color-dark-gray;
  &__slider {
    margin-bottom: 60px;
  }
  &__order {
    text-align: center;
  }
}


.clients-slider {
  &__slide {
    width: 450px;
    margin: 0 10px;
  }
  &__image {
    display: block;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    &:first-child {
      transform: translateX(-50%);
    }
  }
}


@media (max-width: $desktop-small) {
  .clients {
    &__slider {
      margin-bottom: 30px;
    }
  }

  .clients-slider {
    &__slide {
      max-width: 300px;
    }
  }
}


@media (max-width: $tablet-small) {
  .clients {
    &__slider {
      margin-bottom: 10px;
    }
  }
}


@media (max-width: $mobile-large) {
  .clients-slider {
    &__slide {
      max-width: 200px;
      margin: 0 5px;
    }
    &__image {
      margin-bottom: 10px;
    }
  }
}
