.internship-join {
  background-color: $color-light-gray;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  &__text,
  &__form {
    flex-basis: 50%;
    flex-grow: 1;
    min-width: 300px;
  }
  &__text {
    padding: 0 20px;
    color: $color-dark-gray;
    font-size: 18px;
    box-sizing: border-box;
    p,
    ul {
      margin: 0 0 10px;
    }
    ul {
      padding-left: 30px;
    }
  }
}



@media (max-width: $mobile-large) {
  .internship-join {
    &__text {
      order: 0;
      font-size: 16px;
    }
  }
}
