.internship-team {
  &__list {
    display: flex;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
  }
  &__item {
    flex-basis: calc(20% - 20px);
    max-width: calc(20% - 20px);
    margin: 0 10px;
    padding: 10px;
    height: 500px;
    background-image: url('/dist/assets/image/internship/office-fog.jpg');
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(#000000, 0.7);
    box-sizing: border-box;
    filter: brightness(0.5);
    transition: filter 0.2s ease-in, box-shadow 0.2s ease-in;
    &:hover {
      filter: none;
      box-shadow: 0 0 15px rgba($color-medium-dark-gray, 0.5);
    }
  }
  &__item--first {
    height: 450px;
    background-position-x: left;
  }
  &__item--center-left {
    background-position-x: 15%;
  }
  &__item--center {
    height: 550px;
    background-position-x: center;
  }
  &__item--center-right {
    background-position-x: 85%;
  }
  &__item--last {
    height: 450px;
    background-position-x: right;
  }

  &__image {
    max-height: 100%;
    margin: 0 auto;
  }
}


.internship-team-slider {
  position: relative;
  &__controls {
    position: absolute;
    z-index: 99;
    display: none;
    justify-content: space-between;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
  &__arrow {
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
    cursor: pointer;
    transition: opacity 0.1s ease-in;
    outline: none;
  }
  &__arrow--prev {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 511.991 511.991' style='enable-background:new 0 0 511.991 511.991' fill='%23fff'%3E%3Cpath d='M153.433 255.991L381.037 18.033c4.063-4.26 3.917-11.01-.333-15.083-4.229-4.073-10.979-3.896-15.083.333L130.954 248.616c-3.937 4.125-3.937 10.625 0 14.75L365.621 508.7a10.65 10.65 0 007.708 3.292c2.646 0 5.313-.979 7.375-2.958 4.25-4.073 4.396-10.823.333-15.083l-227.604-237.96z'/%3E%3C/svg%3E");
  }
  &__arrow--next {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 511.995 511.995' style='enable-background:new 0 0 511.995 511.995' fill='%23fff'%3E%3Cpath d='M381.039 248.62L146.373 3.287C142.29-.942 135.54-1.13 131.29 2.954c-4.25 4.073-4.396 10.823-.333 15.083L358.56 255.995 130.956 493.954c-4.063 4.26-3.917 11.01.333 15.083a10.63 10.63 0 007.375 2.958 10.65 10.65 0 007.708-3.292L381.039 263.37c3.938-4.125 3.938-10.625 0-14.75z'/%3E%3C/svg%3E");
  }
}



@media (max-width: $tablet-small) {
  .internship-team {
    &__list {
      display: block;
    }
    &__item {
      max-width: 100%;
      margin: 0;
      background-image: url('/dist/assets/image/internship/office-fog--h400.jpg');
      box-shadow: none;
      filter: none;
      &:hover {
        filter: none;
        box-shadow: none;
      }
    }
    &__item--first,
    &__item--center-left,
    &__item--center,
    &__item--center-right,
    &__item--last {
      height: 400px;
    }
  }

  .internship-team-slider {
    &__controls {
      display: flex;
    }
    .slick-slide {
      margin: 0 20px;
    }
  }
}


@media (max-width: $mobile-large) {
  .internship-team {
    &__item--first,
    &__item--center-left,
    &__item--center,
    &__item--center-right,
    &__item--last {
      max-height: 300px;
    }
  }
}