.product-list {
  background-color: $color-dark-gray;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  &__item {
    flex-basis: calc(33.3333% - 20px);
    max-width: calc(33.3333% - 20px);
    min-height: 300px;
    margin: 0 10px 20px;
  }
}

.product-item {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: 120% 90%;
  background-size: 70%;
  text-decoration: none;
  box-sizing: border-box;
  transition: background-position 0.5s ease-in;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    transition: opacity 0.2s ease-in;
    opacity: 0;
  }
  &:hover {
    background-position: 500% 90%;
  }
  &:hover::after {
    opacity: 0.15;
  }
  &:hover .product-item__features-list {
    opacity: 1;
    transform: translateY(0);
  }
  &__image {
    position: relative;
  }
  &__header {
    margin-bottom: 15px;
    padding: 10px 15px;
  }
  &__title {
    display: block;
    margin-bottom: 10px;
    font-size: 24px;
  }
  &__subtitle {
    display: block;
    font-size: 20px;
  }
  &__features-list {
    margin: 0 0 10px;
    padding-left: 30px;
    list-style: none;
    transition: transform 0.4s ease-in, opacity 0.4s ease-in;
    opacity: 0;
    transform: translateY(100%);
  }
  &__features-item {
    position: relative;
    margin-bottom: 5px;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -20px;
      width: 10px;
      height: 2px;
      background-color: $color-accent;
      transform: translateY(-50%);
    }
  }
  &__content {
    flex-grow: 1;
  }
}


@media (max-width: $tablet-small) {
  .product-list {
    &__item {
      flex-basis: calc(50% - 20px);
      max-width: calc(50% - 20px);
    }
  }
}


@media (max-width: $mobile-large) {
  .product-list {
    &__inner {
      display: block;
    }
    &__item {
      max-width: 100%;
    }
  }
}