.page-footer {
  padding: 10px 30px 5px;
  color: $color-medium-gray;
  font-size: 18px;
  background-color: $color-darkest;
  &__top {
    padding: 10px 0;
    border-bottom: 2px solid $color-medium-gray;
    text-align: center;
  }
  &__text {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 1;
  }
  &__phone,
  &__email {
    display: inline-block;
    margin: 0 5px;
    font-size: 20px;
    color: $color-light-gray;
    text-decoration: none;
    transition: color 0.1s ease-in;
    &:hover,
    &:focus {
      color: darken($color-light-gray, 10%);
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  &__year {
    margin-right: 25px;
  }
  &__nav {
    margin-right: auto;
  }
  &__logo {
    max-width: 70px;
  }
}


.footer-nav {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  &__link {
    color: inherit;
    transition: color 0.1s ease-in;
    &:hover,
    &:focus {
      color: #ffffff;
    }
  }
}



@media (max-width: $mobile-large) {
  .page-footer {
    padding: 5px 10px;
    &__bottom {
      justify-content: space-between;
      flex-wrap: wrap;
    }
    &__text {
      font-size: 16px;
    }
    &__phone,
    &__email {
      font-size: 18px;
    }
    &__year,
    &__nav,
    &__logo {
      margin: 0 5px;
    }
    &__nav {
      margin-bottom: 10px;
    }
    &__year {
      order: 2;
      text-align: center;
    }
  }

  .footer-nav {
    &__list {
      display: block;
    }
    &__link {
      display: block;
      padding-bottom: 10px;
      font-size: 16px;
    }
  }
}