.hero {
  position: relative;
  min-height: 100vh;
  &__canvas {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: #101010;
  }
  &__title,
  &__subtitle {
    max-width: 600px;
    padding: 10px 15px;
    text-align: center;
    transition: transform 0.7s ease-in, opacity 1.2s ease-in;
    opacity: 0;
  }
  &__title {
    margin: 15% auto 0;
    color: #303030;
    font-size: 44px;
    background-color: #ffffff;
    transform: translateX(-100%);
  }
  &__title--fade-in {
    transform: translateX(-10%);
    opacity: 1;
  }
  &__subtitle {
    display: block;
    margin: 0 auto;
    color: #ffffff;
    font-size: 28px;
    background-color: #303030;
    transform: translateX(100%);
    transition-delay: 0.7s;
  }
  &__subtitle--fade-in {
    transform: translateX(10%);
    opacity: 1;
  }
}