.internship-join {
  background-color: $color-light-gray;
  &__form-inner {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  &__text,
  &__textarea {
    flex-basis: 50%;
    flex-grow: 1;
    min-width: 300px;
  }
  &__text {
    order: 1;
    padding: 10px 20px;
    font-size: 18px;
    box-sizing: border-box;
    p,
    ul {
      margin: 0 0 10px;
    }
  }
  &__textarea {
    display: block;
    flex-basis: 50%;
    min-height: 200px;
    padding: 10px 14px;
    color: #141414;
    font-size: 16px;
    background-color: #f1f1f1;
    border: 2px solid transparent;
    box-sizing: border-box;
    transition: border-color .1s ease-in;
    resize: vertical;
    outline: none;
    &:hover,
    &:focus {
      border-color: $color-accent;
    }
  }
  &__footer {
    text-align: center;
  }
}



@media (max-width: $mobile-large) {
  .internship-join {
    &__text {
      order: 0;
      font-size: 16px;
    }
  }
}
