.internship-team {
  &__list {
    display: flex;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
  }
  &__item {
    flex-basis: calc(20% - 20px);
    max-width: calc(20% - 20px);
    margin: 0 10px;
    padding: 10px;
    height: 500px;
    background-image: url('/dist/assets/image/internship/office-fog.jpg');
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(#000000, 0.7);
    box-sizing: border-box;
    filter: brightness(0.5);
    transition: filter 0.2s ease-in, box-shadow 0.2s ease-in;
    &:hover {
      filter: none;
      box-shadow: 0 0 15px rgba($color-medium-dark-gray, 0.5);
    }
  }
  &__item--first {
    height: 450px;
    background-position-x: left;
  }
  &__item--center-left {
    background-position-x: 15%;
  }
  &__item--center {
    height: 550px;
    background-position-x: center;
  }
  &__item--center-right {
    background-position-x: 85%;
  }
  &__item--last {
    height: 450px;
    background-position-x: right;
  }

  &__image {
    max-height: 100%;
    margin: 0 auto;
  }
}



@media (max-width: $tablet-small) {
  .internship-team {
    &__list {
      display: block;
    }
    &__item {
      max-width: 100%;
      margin: 0;
      box-shadow: none;
      filter: none;
      &:hover {
        filter: none;
        box-shadow: none;
      }
    }
    .slick-slide {
      margin: 0 20px;
    }
    &__item--first,
    &__item--center-left,
    &__item--center,
    &__item--center-right,
    &__item--last {
      height: 400px;
    }
  }
}


@media (max-width: $mobile-large) {
  .internship-team {
    &__item--first,
    &__item--center-left,
    &__item--center,
    &__item--center-right,
    &__item--last {
      max-height: 300px;
    }
  }
}