.internship-about {
  counter-reset: number;
  background-color: $color-dark-gray;
  &__inner {
    max-width: 900px;
    margin: 0 auto;
  }
  &__item {
    display: flex;
    margin: 0 -5px 10px;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out 0.2s;
    &:nth-child(odd) > .internship-about__side {
      order: 1;
    }
  }
  &__item--visible {
    opacity: 1;
    transform: translateY(0);
  }
  &__main,
  &__side {
    flex-basis: calc(50% - 10px);
    max-width: calc(50% - 10px);
    margin: 0 5px;
    box-sizing: border-box;
  }
  &__main {
    position: relative;
    z-index: 1;
    min-height: 15em;
    font-size: 20px;
    padding: 20px;
    background-color: $color-light-gray;
    &::before {
      content: counter(number);
      counter-increment: number;
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      color: rgba(#ffffff, 0.5);
      font-size: 15em;
      text-align: center;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
  }
  &__text {
    color: $color-dark-gray;
    p,
    ul {
      margin: 0 0 10px;
    }
  }
  &__title {
    margin: 0 0 20px;
    color: $color-medium-dark-gray;
    font-size: 28px;
    text-align: center;
  }
  &__side {
    position: relative;
    padding-bottom: calc(50% - 10px);
  }
  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
    }
  }
}



@media (max-width: $tablet-small) {
  .internship-about {
    &__main {
      padding: 10px 15px;
      font-size: 16px;
    }
    &__title {
      margin-bottom: 10px;
      font-size: 24px;
    }

  }
}


@media (max-width: $mobile-large) {
  .internship-about {
    &__item {
      display: block;
    }
    &__main,
    &__side {
      max-width: 100%;
    }
    &__side {
      padding-bottom: calc(100% - 10px);
    }
  }
}