.internship-team {
  &__list {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  &__item {
    flex-basis: calc(20% - 20px);
    max-width: calc(20% - 20px);
    margin: 0 10px;
    padding: 10px;
    height: 500px;
    background-image: url('/dist/assets/image/internship/office-fog.jpg');
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(#000000, 0.7);
    box-sizing: border-box;
    &:first-child {
      background-position-x: left;
    }
    &:last-child {
      background-position-x: right;
    }
    &:first-child,
    &:last-child {
      height: 450px;
    }
    &:nth-child(2) {
      background-position-x: 15%;
    }
    &:nth-child(4) {
      background-position-x: 85%;
    }
  }
  &__item--center {
    height: 550px;
    background-position-x: center;
  }
  &__image {
    max-height: 100%;
    margin: 0 auto;
  }
}