.product-overview {
  background-color: $color-light-gray;
  &__inner {
    display: flex;
  }
  &__main {
    flex-basis: 40%;
    max-width: 40%;
  }
  &__side {
    flex-basis: 60%;
    max-width: 60%;
  }
  &__text {
    padding: 20px 20px 10px 30%;
    color: $color-dark-gray;
    font-size: 18px;
    line-height: 1.5;
    p {
      margin: 0 0 30px;
    }
    ol,
    ul {
      margin: 0 0 30px;
      padding-left: 30px;
    }
  }
  &__name {
    margin: 0 0 5px;
    font-size: 28px;
  }
  &__desc {
    display: block;
    margin-bottom: 35px;
    color: $color-medium-dark-gray;
    font-size: 20px;
  }
  &__title {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }
  &__screen {
    position: relative;
    height: 100%;
  }
  &__image {
    transition: opacity 0.5s ease-in;
  }
  &__image--hidden {
    opacity: 0;
  }
}
